extends layout 


block append scripts 
  script(src="home.js")

block main-content 
    h1.margin Canada’s #1 healthful meal kit
    p Welcome! You have arrived at our Korean meal kit website. We offer delicious Korean dishes with the best ingredients and easy cooking methods. Enjoy your shopping!
    h2.margin(style="color:RGB(181, 38, 4) ; font-weight:bold;") Weekly selections
    .container-lg
      .row.justify-content-md-center
        .slide_wrapper 
          ul.slides 
            each link in menu
              li      
                img(src='/img/'+link.ImageId+'.jpg', alt=link.Name)

        .controls
        .btn-group(role='group', aria-label='Basic example')
          button#prev.btn.btn-outline-secondary(type='button') prev
          button#next.btn.btn-outline-secondary(type='button') next


    section
      div.container-sm
        h2#section_chef Our Chefs
        .row.row-cols-1.row-cols-md-3.g-4
          each list in chef
            .col
              .card
                img.card-img-top(src='/img/'+list.ImgId+'.jpg', alt=list.Name)
                .card-body
                  h5.card-title #{list.Name}
                  p.card-text
                    | #{list.Bio}